@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(9, 33, 139);
    background-color: coral;
}

h1 {
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid cadetblue;
    background-color: rgb(142, 223, 142);
    color: white;
    font-size: 300%;
    text-align: center;
    line-height: 1;
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    transition: color ease 5s;
    transition: background-color ease 5s;
}

h1:hover {
    color: rgb(125, 56, 255);
    background-color: rgb(112, 211, 250);
}

.h1-sub span {
    font-size: 70px;
    color: rgb(248, 152, 97);
    font-family: fantasy;
}

h2 {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted rgb(76, 117, 14);
    border-left: 10px solid rgb(109, 173, 12);
    color: cadetblue;
}

body {
    background-color: rgb(255, 254, 167);
    background-image: url(../img/bg.png);
    background-repeat: repeat-x;
    background-position: center top;
    background-size: 100px 140px;
}

#contents {
    width: 960px;
    margin: 40px auto;
    padding: 40px 80px;
    border: 1px solid rgb(255, 78, 78);
    background-color: white;
}

.more {
    text-align: right;
}

.more::after {
    content: url(../img/ico_arrow.png);
    margin-left: 5px;
    vertical-align: middle;
}

.h {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted rgb(76, 117, 14);
    border-left: 10px solid rgb(109, 173, 12);
    color: rgb(9, 173, 36);
    border-radius: 5px;
}

.h-sub {
    padding: 10px;
    background-color: #fbf9cc;
    color: #ff705b;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #ffd0ad inset;
}

.h-sub span {
    font-weight: normal;
}

section+section {
    margin-top: 80px;
}

#contents>section+section {
    margin-top: 80px;
}

header,
nav,
footer {
    text-align: center;
}

a[target="_blank"]::after {
    content: url(../img/ico_blank.png);
    margin-left: 5px;
    vertical-align: middle;
}

a[href^="mailto:"]::after {
    content: url(../img/ico_mail.png);
    margin-left: 5px;
    vertical-align: middle;
}

img {
    width: 400px;
    height: 400px;
}

.photo {
    border-radius: 50%;
    box-shadow: 0px 0px 10px black;
}

.menu li {
    list-style-type: none;
    display: inline;
    width: 180px;
    margin: 0 10px;
}

.menu a {
    display: block;
    padding: 10px;
    background: #6fbb9a;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    background: #90ddbb;
}